.row
  %p 
    Торговая компания INDIANO — качественная женская одежда из 100 % натурального хлопка идущая в ногу мировым тенденциям моды.
  
    Вам больше ненужно утомлять себя поездками заграницу и тратиться на таможенные пошлины для того что бы модная одежда поставлялась в ваши магазины. Оптовая продажа одежды из Индии теперь успешно осуществляется в России и в Украине.
  %p 
    Компания INDIANO позаботилась об этом для вас. Наша компания работает на рынке более 18 лет (C 1995 ГОДА). Имея богатый опыт мы предлагаем Вам самые популярные модели текущего сезона, отобранные нашими специалистами из лучших коллекций мировой моды.
  %p
    Женская одежда из Индии напрямую поступает на наши оптовые склады в Москве. Уже сегодня Вы можете заказать мелким, средним и крупным оптом летнюю коллекцию женской одежды на пике покупательского спроса.

    В нашем каталоге Вы найдете самые модные тренды текущего сезона изготовленные из натурального хлопка, льна, шифона. С нами Вы всегда наполните свой модный бутик интересными и неординарными моделями. Наш оптовый склад одежды позволяет выбирать модели для женщин разного возраста и размеров.
  %p
    Более чем 200 великолепных, актуальных моделей из натурального хлопка предоставлены нашей компанией в коллекции лето 2014
    Наша коллекция постоянно обновляется и прибывают новые и новые модели ограниченными сериями. Поэтому купленная у нас одежда даст Вам возможность создать в своем бутике неповторимую и стильную коллекцию.

    Поскольку оптовый склад нашей компании в  Москве получает товар напрямую от производителей мы имеем возможность устанавливать минимальные цены на всю коллекцию.

    В нашей компании осуществляется индивидуальный подход к каждому клиенту. Заказы принимаются ежедневно и отправляются в течении двух дней по  России.

    INDIANO natural — Новая формула успеха Вашего бизнеса.