.row
  .col-md-10.col-md-offset-1
    %h1.buy О нас
    %p.about
      Indiano-Москва - торговая компания основанная в 1999 году и успешно доминирующая на рынке одежды России уже  15 лет.

      Indiano-Москва - официальный представитель компании Indiano  natural и INDIANOSPAIN.S.L в России , предлагающая женскую одежду оптом из натуральных тканей - хлопка, льна, вискозы, шифона, шелка, мохера и шерсти.


    %p.about 
      Основной профиль компании Indiano-Москва - оптовая продажа качественной женской одежды модных трендов.

      В ассортимент нашей продукции входят - женские платья, брюки, туники, сарафаны, куртки, блузы, кардиганы, жакеты, пончо, джемпера, жилеты  и многое другое.

      В Каждом сезоне у нас есть коллекция согласно  мировым трендам моды.
    %p.about
      Работая с нами, Вы получаете надежного бизнес партнера в области продаж одежды. Есть возможность работы как мелким, так и крупным оптом.
      Мы создаем одежду для современной молодой женщины (20-60 лет). Она следит за модой и свободна в выборе; умеет быть элегантной и романтичной, соблазнительной кокеткой и бизнес-леди. Она предпочитает активный отдых и неспешные вечерние прогулки.


      В нашем каталоге Вы найдете самые модные тренды текущего сезона изготовленные из натурального хлопка, льна, шифона. С нами Вы всегда наполните свой модный бутик интересными и неординарными моделями. Наш оптовый склад одежды позволяет выбирать модели для женщин разного возраста и размеров.
    %p.about
      Наша цель: развивать индивидуальность женщины, создавая современный и стильный образ, а также воспитание потребительских предпочтений в сфере женской моды.


    %p.about
      Опыт и профессионализм нашей команды  дают возможность оперативного взаимодействия с центральным офисом, всесторонние рекомендации по закупке и консультацию по любому вопросу. Мы предлагаем выгодные условия по доступной цене.

    %p.about
      Одежда Indiano  natural это современная модная одежда для всех, кто любит стильно и красиво выглядеть и отдаёт предпочтение продукции из натуральных тканей.

    %p.about  
      Отличительными преимуществами компании Индиано-Москва являются:

      %ul.about
        %li.about
          Многолетний опыт.
        %li.about
          Последние мировые тренды в дизайне.
        %li.about
          Широкий ассортимент.
        %li.about
          Демократичная ценовая политика.
        %li.about
          Консультации по формированию заказа.
        %li.about
          Гибкая система скидок.
        %li.about
          Поощрительный бонус по итогам сезона.
        %li.about
          Специальные условия для постоянных партнеров.
        %li.about
          Своевременные бесперебойные поставки.
        %li.about
          Бесплатная доставка до транспортной компании "Байкал-сервис.
        %li.about
          Бесплатная  рекламная продукция (каталоги, плакаты, фото для интернет-магазина).


