
%p
  %h3.text-center Москва 19 км. МКАД  ТК «Южные Ворота» линия з-9, павильон 58 
%p
  %h4.text-center +7 (916) 152-42-45
%p
  %h4.text-center +7 (915) 225-76-27
%p.text-center
  %a.medit{href: :"mailto:indianomoscow@gmail.com"} indianomoscow@gmail.com
%br
%br
.topline

.row
  %script{:charset => "utf-8", :src => "//api-maps.yandex.ru/services/constructor/1.0/js/?sid=mPorHWv5zaEUKtM8_Kyb1WuKglju-be4&&height=450", :type => "text/javascript"}
