- @page_home = "home"
#carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
  .carousel-inner
    .item.active
      %img{:alt => "...", :src => "/assets/example-slide-2.jpg"}/
      .carousel-caption
    .item
      %img{:alt => "...", :src => "/assets/example-slide-1.jpg"}/
      .carousel-caption
  %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
    %span.glyphicon.glyphicon-chevron-right
