- @dont_line = "home"
#carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
  .carousel-inner
    .item.active
      %img{:alt => "...", :src => "http://img-fotki.yandex.ru/get/6831/95529785.0/0_119d69_52333772_orig"}/
      .carousel-caption
    .item
      %img{:alt => "...", :src => "http://img-fotki.yandex.ru/get/4114/95529785.0/0_119291_d506aa7c_orig"}/
      .carousel-caption
  %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic"}
    %span.icon-prev
  %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic"}
    %span.icon-next
