#slides
  %img{:alt => "Photo by: Missy S Link: http://www.flickr.com/photos/listenmissy/5087404401/", :src => "assets/example-slide-1.jpg"}/
  %img{:alt => "Photo by: Stuart SeegerLink: http://www.flickr.com/photos/stuseeger/97577796/", :src => "assets/example-slide-4.jpg"}/
