%footer.footer
  .container
    .col-xs-6
      %p
        %small
          Copyright © 2014 Company
          %br/
          All Rights Reserved.
    .col-xs-6.text-right
  -# = render partial: 'layouts/application/counters'
