-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      = link_to root_path do
        =  image_tag "logo.png", class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.menu.navbar-right
        = render 'layouts/application/navigation_links'
        = render 'layouts/application/contact_info'
      -# = render 'layouts/application/old_contact_info'
