.navbar-brand {
  padding: 10px 10px !important;
}
.navbar {
  background-color: black !important;
  min-height: 98 !important;
}

.menu {
 
  margin: 30px 0 0 0;
  

  li {
    padding: 0px 0px 0px 60px;
    

    a {
      text-transform: uppercase;
      font-family: "PFAdamantProRegular";
    }

  }


}
.navbar-right  {
  top: 30px !important;

  li {
    padding: 30px 35px 0px 0px;

    a {
      text-transform: uppercase;
      font-family: "PFAdamantProRegular";

      a:hover,
      a:focus{
        background-color: transparent;
        text-decoration: none !important;
      }
    }
  }
}
.topline{
  height: 8px;
  width: 100%;
  border-bottom:2px solid #000000;
  top: 0px;
  left: 0px;
}
.foto {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  width: 217px;
  height: 360px;
  padding: 9px 0px 9px 0px;
}
.content {
  padding: 50px 70px 50px 70px;
  .row {
    padding: 60px 70px 0px 70px;
  }
}
.medit {
  font-family: "PFAdamantProMediumItalic" !important;
  color: #333 !important;
  display: block;
  font-size: 16px;
  margin: 0px 0px 10px 0px;
  text-decoration: none !important;
}
.footer {
  background:#000000;
  padding:8px 0; 
  color:#fff;
  margin-bottom:0
}
span.block {
  display:block;
} 
.blockphone {
  border-left-color: white;
  border-left-style: double;
  border-left-width: thin;
  line-height: 27px;
  padding-left: 12px;
}
span.phone {
  font-family: "PFAdamantProLight";
  text-align: left;
  font-size: 16px;
  color: #2EB4D4;
  padding: 0 0 0 15px
}
a.mail {
  text-decoration: none !important;
  color: #fff !important;
  text-align: center;
  padding: 0 0 0 15px
}
.logo {
  border-right-color: white;
  border-right-style: double;
  border-right-width: thin;
  padding-right: 60px !important;
}



// Accordion




#leftMenu .accordion-group {
    margin-bottom: 0px;
    border:0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}    

#leftMenu .accordion-heading {
    height: 34px;
  
    list-style-type:none;
}  

#leftMenu .accordion-heading  a{  
    color: #000; /* text color */
    
    text-decoration:none;
  
}

#leftMenu .accordion-heading  a:hover{  
    color:#ccc     
}

#leftMenu .accordion-heading .active {
    width: 182px;
    height: 34px;
    border: 1px solid #5b5b5b; /* inner stroke */
    background-color: #353535; /* layer fill content */
    background-image: -moz-linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
    background-image: -o-linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
    background-image: linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
}

.onashead{
  font-size: 26px;
  font-family: "PF Adamant Pro Light"
}
.accordion-inner {
  padding: 0 0 0 20px;
}
.p {
  margin-top: 30px;
  cursor: pointer;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.justify{
  text-align: justify;
}
h1.buy{
  font-size: 40px;
  color: #00A3E6;
  font-family: "PF Adamant Pro Light"
}
p.about{
  font-size: 16px;
  font-family: "PF Adamant Pro Light"
}
li.about{
  margin: 0 0 9px 0;
  font-size: 16px;
  font-family: "PF Adamant Pro Light"
}
ul.about{
  list-style: none;
}

