.topline{
  height: 8px;
  width: 100%;
  border-bottom:2px solid #000000;
  top: 0px;
  left: 0px;
}
.foto {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  width: 217px;
  height: 360px;
  padding: 9px 0px 9px 0px;
}
.content {
  padding: 50px 70px 50px 70px;
  .row {
    padding: 60px 70px 0px 70px;
  }
}
.medit {
  font-family: "PFAdamantProMediumItalic" !important;
  color: #333 !important;
  display: block;
  font-size: 16px;
  margin: 0px 0px 10px 0px;
  text-decoration: none !important;
}
.footer {
  background:#000000;
  padding:8px 0;
  color:#fff;
  margin-bottom:0
}
span.block {
  display:block;
}
.blockphone {
border-left-color: white;
border-left-style: double;
border-left-width: thin;
line-height: 27px;
padding-left: 12px;
margin: 30px;

}
span.phone {
  font-family: "PFAdamantProLight";
  text-align: left;
  font-size: 16px;
  color: #2EB4D4;
  padding: 0 0 0 15px
}
a.mail {
  text-decoration: none !important;
  color: #fff !important;
  text-align: center;
  padding: 0 0 0 15px
}

.row#rowcenter {
  padding-left: 0px;
  padding-right: 100px;
}


#leftMenu .accordion-group {
  margin-bottom: 0px;
  border:0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

#leftMenu .accordion-heading {
    height: 34px;

    list-style-type:none;
}

#leftMenu .accordion-heading  a{
    color: #000; /* text color */

    text-decoration:none;

}

#leftMenu .accordion-heading  a:hover{
    color:#ccc
}

#leftMenu .accordion-heading .active {
    width: 182px;
    height: 34px;
    border: 1px solid #5b5b5b; /* inner stroke */
    background-color: #353535; /* layer fill content */
    background-image: -moz-linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
    background-image: -o-linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
    background-image: linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
}

.onashead{
  font-size: 26px;
  font-family: "PF Adamant Pro Light"
}
.accordion-inner {
  padding: 0 0 0 20px;
}
.p {
  margin-top: 30px;
  cursor: pointer;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.justify{
  text-align: justify;
}
h1.buy{
  font-size: 40px;
  color: #00A3E6;
  font-family: "PF Adamant Pro Light"
}
p.about{
  font-size: 16px;
  font-family: "PF Adamant Pro Light"
}
li.about{
  margin: 0 0 9px 0;
  font-size: 16px;
  font-family: "PF Adamant Pro Light"
}
ul.about{
  list-style: none;
}

.search {
  display: inline-block;
  vertical-align: top;
  margin: -3px 80px 0 0;
  /* устанавливаем необходимую ширину формы в зависимости от дизайна
  ** форма без проблем растягивается */
  width: 100%;

  /* кнопку отправки будем позиционировать абсолютно,
  ** поэтому необходимо это свойство */
  position: relative;
}

.search input {
  /* отключаем бордюры у инпутов */
  border: none;
}

/* стили для поля ввода */
.search .input {
  /* растягиваем поле ввода на всю ширину формы */
  width: 100%;

  /* за счет верхнего (8px) и нижнего (9px) внутренних отступов
  ** регулируем высоту формы
  ** внутренний отступ справа (37px) делаем больше левого,
  ** т.к. там будет размещена кнопка отправки */
  padding: 5px 26px 5px 15px;

  /* чтобы ширина поля ввода (100%) включала в себя внутренние отступы */
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  /* добавляем внутренние тени */
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);

  /* закругляем углы */
  border-radius: 20px;

  background: #fff;
  font: 13px Tahoma, Arial, sans-serif;
  color: #555;
  outline: none;
}

/* меняем оформление поля ввода при фокусе */
.search .input:focus {
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
  background: #E8E8E8;
  color: #333;
}

/* оформляем кнопку отправки */
.search .submit {
  /* позиционируем кнопку абсолютно от правого края формы */
  position: absolute;
  top: 0;
  right: 0;

  width: 37px;

  /* растягиваем кнопку на всю высоту формы */
  height: 100%;

  cursor: pointer;
  background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;

  /* добавляем прозрачность кнопке отправки */
  opacity: 0.5;
}

/* при наведении курсора меняем прозрачность кнопки отправки */
.search .submit:hover {
  opacity: 0.8;
}

/* данное свойство необходимо для того, чтобы в браузерах
** Chrome и Safari можно было стилизовать инпуты */
input[type="search"] {
  -webkit-appearance: none;
}
